{{define "root"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ .Blog.Description }}">
    <meta name="author" content="{{ .Blog.Author }}">
    <meta name="keywords" content="{{ .Blog.Tags }}">

    <title>{{.Title}} [{{.Blog.Name}}]</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-blue.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>

    <link rel="stylesheet" href="/static/css/styles.css">

  </head>

  <body>
    <div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
      <main class="mdl-layout__content">
        <div class="demo-back">
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="javascript:history.back()" title="index" role="button" id="start">
            <i class="material-icons" role="presentation">arrow_back</i>
          </a>
        </div>

        <div class="demo-blog__posts mdl-grid">
          <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">

            <div class="mdl-card__media mdl-color-text--grey-50" style="background-image:url('/file/bg/{{.StringID}}');">
              <h3 class="title">{{.Title}}</h3>
            </div>

<!--
        {{if .Authors}}
          {{range .Authors}}
            <div class="author">
              {{range .Elem}}{{elem $.Template .}}{{end}}
            </div>
          {{end}}
        {{end}}
-->

            <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">

              <img class="avatar" src="/file/avatar/{{ .AuthorID }}" width="48" height="48" onerror="this.src='/static/images/somebody.jpg'"/>

              <div>
                  <strong style="width:100%;"> {{ .HTML.Author }} </strong>
                  <span> {{ convert  .HTML.CreatedAt }} </span>
              </div>

<!--
              <div style="flex-grow:1;"></div>

              <div style="text-align:right;margin-right:10px;">
                <strong>{{ .HTML.Author }}</strong>
                <span>{{ convert .HTML.CreatedAt }}</span>
              </div>

              <img class="avatar" src="/file/avatar/{{ .AuthorID }}" width="48" height="48" onerror="this.src='/static/images/somebody.jpg'"/>
-->

            </div>

            <div class="mdl-color-text--grey-700 mdl-card" style="padding-left:20px;padding-right:20px;padding:bottom:50px;width:100%;">

<!--
        {{with .Sections}}
          <div id="toc">
            {{template "TOC" .}}
          </div>
        {{end}}
-->

        {{range .Sections}}
          {{elem $.Template .}}
        {{end}}

            </div>

          </div>

        </div>

        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter" onclick="tweet();">
              <span class="visuallyhidden">Twitter</span>
            </button>
            <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger" onclick="facebook();">
              <span class="visuallyhidden">Facebook</span>
            </button>
            <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus" onclick="gplus();">
              <span class="visuallyhidden">Google Plus</span>
            </button>
          </div>

<!--
          <div class="mdl-mini-footer--right-section"> </div>
-->

        </footer>
      </main>

      <div class="mdl-layout__obfuscator"></div>

    </div>

    <a href="#start" id="top" class="mdl-button mdl-button--fab mdl-js-button mdl-js-ripple-effect mdl-color--accent mdl-color-text--white"><i class="material-icons">vertical_align_top</i></a>

<script>
    function tweet() {
        var address = location.href;
        var title = document.title;
        var href = "http://twitter.com/share?count=horizontal&amp;original_referer=" + address + "&amp;text=" + title + "&amp;url=" + address;
        window.open(href,'tweetwindow','width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1');
        return false;
    }

    function facebook() {
        var address = location.href;
        window.open("http://www.facebook.com/share.php?u=" + address,"facebookwindow","idth=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1");
        return false;
    }

    function gplus() {
        var address = location.href;
        window.open("https://plus.google.com/share?url=" + address,"gpluswindow","idth=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1");
        return false;
    }
</script>

  </body>
</html>
{{end}}

<!--
{{define "TOC"}}
  <ul>
  {{range .}}
    <li><a href="#TOC_{{.FormattedNumber}}">{{.Title}}</a></li>
    {{with .Sections}}{{template "TOC" .}}{{end}}
  {{end}}
  </ul>
{{end}}
-->

{{define "newline"}}
{{/* No automatic line break. Paragraphs are free-form. */}}
{{end}}
