{{define "body"}}

<div class="mdl-grid" style="max-width:900px">

  <div class="mdl-cell mdl-cell--12-col">

<form id="registerForm" action="/admin/cache/register" method="post">
    <div style="display:flex;">

        <button id="clearBtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" type="button">
            <i class="material-icons">clear</i>
        </button>

        <input class="mdl-textfield mdl-js-textfield mdl-textfield__input" type="text" id="pattern" name="pattern">
        <input class="mdl-textfield mdl-js-textfield mdl-textfield__input" type="text" id="age" name="age">
        <input type="hidden" id="key" name="key" value="casa">

        <button id="register" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" type="submit">
          <i class="material-icons" id="addIcon">add</i>
        </button>

    </div>
</form>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%;">
  <thead>
    <tr>
      <th></th>
      <th class="mdl-data-table__cell--non-numeric">Pattern</th>
      <th>MaxAge</th>
      <th>LastUpdate</th>
      <th></th>
    </tr>
  </thead>
<tbody>

{{ range .Caches }}
<tr>
    <td width="48">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect updateBtn" data-id="{{.Key.Name}}" data-pattern="{{.Pattern}}" data-age="{{.MaxAge}}">
        <i class="material-icons right-section">edit</i>
      </button>
    </td>

    <td class="mdl-data-table__cell--non-numeric">
        {{ .Pattern }}
    </td>

    <td>{{ .MaxAge }}</td>
    <td>{{ convert .UpdatedAt }}</td>

    <td width="48">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect deleteBtn" data-id="{{.Key.Name}}">
        <i class="material-icons right-section">delete</i>
      </button>
    </td>
</tr>
{{end}}

</tbody>
</table>

  </div>

</div>

<script>
var selectId = "";

$("#clearBtn").click(function(e) {
    $('#key').val("");
    $('#pattern').val("");
    $('#age').val("");
    $('#addIcon').text('add');
    $('#registerForm').attr('action','/admin/cache/register');
    return true;
});

$("button.updateBtn").click(function(e) {

    var dataId = $(e.currentTarget).data("id");
    var pattern = $(e.currentTarget).data("pattern");
    var age = $(e.currentTarget).data("age");

    $('#key').val(dataId);
    $('#pattern').val(pattern);
    $('#age').val(age);

    $('#registerForm').attr('action','/admin/cache/update');
    $('#addIcon').text('edit');

    return false;
});

$("button.deleteBtn").click(function(e) {
    var dataId = $(e.currentTarget).data("id");
    selectId = "";
    confirmDialog("Delete?","Id is not possible to return again","DELETE CachePattern",function() {
        selectId = dataId;
        $('#key').val(dataId);
        $('#registerForm').attr('action','/admin/cache/delete');
        $('#register').trigger("click");
        return false;
    });
    return false;
});

</script>

{{end}}

{{define "header_menu"}} {{end}}

{{define "footer_left_menu"}} {{end}}

{{define "footer_right_menu"}} {{end}}

{{ define "paging" }} {{ end }}
