{{define "body"}}
<style>

div.mdl-textfield {
    width:200px;
}

</style>


<form action="/admin/article/edit/{{.Key.StringID}}" id="slideForm" method="post">
<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--6-col" style="height:100%;">
      <textarea id="editor" name="editor" style="width:100%;">{{ .Markdown }}</textarea>
  </div>

  <div class="mdl-cell mdl-cell--6-col" style="height:100%">
      <iframe id="result"></iframe>
  </div>

</div>

</form>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/editor.js"></script>
</script>

{{end}}

{{define "header_menu"}}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="Title" id="title" value="{{.Title}}"/>
        <label class="mdl-textfield__label" for="title">Title...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="tags" name="Tags" value="{{.Tags}}"/>
        <label class="mdl-textfield__label" for="tags">Tags...</label>
      </div>
{{end}}

{{define "footer_menu"}}

<li>
<button id="save" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
save
</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
publish
</button>
</li>

{{end}}
