{{define "body"}}
<style>

div.mdl-grid {
    height:60px;
}
div.mdl-textfield {
    width:200px;
}

</style>


<form action="/admin/article/edit/{{.Key.StringID}}" id="slideForm" method="post">
<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--12-col">

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="Title" id="title" value="{{.Title}}"/>
        <label class="mdl-textfield__label" for="title">Title...</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sub" name="SubTitle" value="{{.SubTitle}}"/>
        <label class="mdl-textfield__label" for="sub">SubTitle...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="tags" name="Tags" value="{{.Tags}}"/>
        <label class="mdl-textfield__label" for="tags">Tags...</label>
      </div>

  </div>


  <div class="mdl-cell mdl-cell--6-col" style="height:100%;">
      <textarea id="Markdown" name="Markdown" style="width:100%;">{{ .Markdown }}</textarea>
  </div>

  <div class="mdl-cell mdl-cell--6-col">
      view
  </div>

</div>

</form>

<script src="/static/js/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $("#Markdown").css("height","500px");
});
</script>

{{end}}
