{{define "body"}}

<div class="mdl-grid" style="max-width:900px">
  <div class="mdl-cell mdl-cell--12-col">

<form id="fileForm" action="/admin/file/upload" method="post" enctype="multipart/form-data">
  <div style="display:flex;">
    <button class="mdl-button mdl-js-button mdl-button--icon" for="fileName" id="selectFile" type="button">
      <i class="material-icons">attachment</i>
    </button>
    <input style="font-size:32px;text-indent:15px;" class="mdl-textfield mdl-js-textfield mdl-textfield__input" type="text" id="fileName" name="FileName">
    <button id="upload" type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="margin-left:auto;">
      <i class="material-icons">file_upload</i>
    </button>
  </div>

  <input type="file" name="file" id="file" style="display:none;"/>

</form>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%;">

<thead>
  <tr>
    <th></th>
    <th class="mdl-data-table__cell--non-numeric">FileName</th>
    <th>Size(byte)</th>
    <th>Lastupdate</th>
    <th></th>
  </tr>
</thead>

<tbody>

{{ range .Files }}
<tr>
    <td width="48">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect updateBtn" data-id="{{.Key.Name}}">
        <i class="material-icons right-section">file_upload</i>
      </button>
    </td>
    <td class="mdl-data-table__cell--non-numeric">
        <a href="/file/{{ .Key.Name }}" target="_blank">
        {{ deleteDir .Key.Name }}
        </a>
    </td>
    <td>{{ .Size }}</td>
    <td>{{ convert .UpdatedAt }}</td>
    <td width="48">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect deleteBtn" data-id="{{.Key.Name}}">
        <i class="material-icons right-section">delete</i>
      </button>
    </td>
</tr>
{{end}}

</tbody>
</table>

  </div>

{{ template "paging" .}}
</div>

{{end}}



{{define "script"}}

<script>
var selectId = "";

document.querySelector("#upload").addEventListener("click",function(e) {
  var dialog = waitDialog();
  if ( selectId == "" ) {
    var name = document.querySelector("#fileName").value;
    var params = {};
    params.fileName = name;

    request("/admin/file/exists",params,function(msg){
      if ( msg.exists == false ) {
        document.querySelector("#fileForm").submit();
      } else {
        dialog.close();
        if ( confirm("It overrides since the same file name exists.") ) {
          selectId = document.querySelector("#fileName").value;
          document.querySelector("#fileForm").submit();
        }
      }
    },function(msg) {
      console.log(msg);
      dialog.close();
    });

  } else {
    document.querySelector("#fileForm").submit();
  }
});

document.querySelector("#selectFile").addEventListener("click",function(e) {
  document.querySelector("#file").click();
  return false;
});

Array.prototype.forEach.call(document.querySelectorAll("button.updateBtn"), function(el) {
  el.addEventListener("click",function(e) {
    selectId = e.currentTarget.getAttribute("data-id");
    document.querySelector("#file").click();
    return false;
  });
});

document.querySelector("#file").addEventListener("change",function(e) {
    if ( selectId == "" ) {
      var file = document.querySelector("#file");
      var obj = file.files[0];
      document.querySelector("#fileName").value = obj.name;
    } else {
      document.querySelector("#fileName").value = selectId.substr(5);
      document.querySelector("#upload").click();
    }
    return false;
});

Array.prototype.forEach.call(document.querySelectorAll("button.deleteBtn"), function(el) {
  el.addEventListener("click",function(e) {
    var dataId = e.currentTarget.getAttribute("data-id");
    selectId = "";
    confirmDialog("Delete?","Id is not possible to return again","DELETE",function() {
      selectId = dataId;
      document.querySelector("#fileName").value = selectId.substr(5);
      document.querySelector("#fileForm").setAttribute("action","/admin/file/delete");
      document.querySelector("#upload").click();
    });
    return false;
  });
});

</script>
{{end}}

{{define "header_menu"}} {{end}}

{{define "footer_left_menu"}} {{end}}
{{define "footer_right_menu"}} {{end}}

{{ define "paging" }}
          <nav class="mdl-cell mdl-cell--12-col" style="display:flex;">
{{ if .PFlag}}
            <a href="/admin/file/view?p={{.Prev}}" class="" title="Newer">
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                 <i class="material-icons">arrow_back</i>
              </button>
            </a>
{{end }}

            <div class="section-spacer" style="flex-grow:1;"></div>

            <a href="/admin/file/view?p={{.Next}}" class="" title="Older">
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_forward</i>
              </button>
            </a>
          </nav>
{{ end }}
