{{define "body"}}
<style>

div.mdl-textfield {
    width:200px;
}

</style>

<form action="/admin/article/save/{{.Article.Key.StringID}}" id="slideForm" method="post">

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col" id="left">
      <textarea id="editor" name="editor" style="width:100%;">{{ .Markdown }}</textarea>
  </div>

  <div class="mdl-cell mdl-cell--6-col" id="right">
      <iframe id="result"></iframe>
  </div>
</div>


</form>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/editor.js"></script>
</script>

{{end}}

{{define "header_menu"}}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="Title" id="Title" value="{{.Article.Title}}"/>
        <label class="mdl-textfield__label" for="title">Title...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="Tags" name="Tags" value="{{.Article.Tags}}"/>
        <label class="mdl-textfield__label" for="tags">Tags...</label>
      </div>

<input type="hidden" id="Name" value="{{.User.Name}}"/>
<input type="hidden" id="Job" value="{{.User.Job}}"/>
<input type="hidden" id="Email" value="{{.User.Email}}"/>
<input type="hidden" id="URL" value="{{.User.URL}}"/>
<input type="hidden" id="TwitterId" value="{{.User.TwitterId}}"/>
<input type="hidden" id="ID" value="{{.Article.Key.StringID}}"/>

{{end}}

{{define "footer_menu"}}

<li>
<button id="save" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
save
</button>
<button id="publish" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
publish
</button>
</li>

{{end}}
