{{define "root"}}
<html>
  <head>
    <title>Blog Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-blue.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>

<script>
function waitDialog(title) {
    if(title === undefined) title = "Wait...";

    var dialog = document.querySelector('dialog.waitDialog');
    dialog.querySelector('h3.mdl-dialog__title').textContent = title;

    dialog.showModal();
    return dialog;
}

function confirmDialog(title,msg,btn,func) {
    var dialog = document.querySelector('dialog.confirmDialog');

    if(title === undefined) title = "Confirm";
    if(msg === undefined) msg = "OK?";
    if(btn === undefined) btn = "OK";

    dialog.querySelector('h4.mdl-dialog__title').textContent = title;
    dialog.querySelector('p.confirm_msg').textContent = msg;
    dialog.querySelector('button.ok').textContent = btn;

    dialog.showModal();

    dialog.querySelector('button.ok').addEventListener('click', func);
    dialog.querySelector('button.cancel').addEventListener('click', function() {
        dialog.close();
    });
    return dialog;
}

function toast(msg) {
   var snackbarContainer = document.querySelector('#TOAST');
   var data = {message: msg};
   snackbarContainer.MaterialSnackbar.showSnackbar(data);
}

</script>
  <script src="/static/js/jquery.min.js"></script>

  </head>

  <body style="background-color:#f6f6f6;">

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">
            <a href="/admin/" style="font-color:white;">Blog Manager</a>
          </span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            {{template "header_menu" .}}
          </nav>
        </div>
      </header>

      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Blog Manager</span>
    
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/admin/">Articles</a>
          <a class="mdl-navigation__link" href="/admin/profile">Profile</a>
          <a class="mdl-navigation__link" href="/admin/file/view">Files</a>
          <div style="height:1px;background-color:#dcdcdc;margin:8px 0px;"></div>
          <a class="mdl-navigation__link" href="/" target="publicpage">Public Page</a>
        </nav>
      </div>

      <main id="main" class="mdl-layout__content">
        {{template "body" .}}
        <!--
        <div class="page-content">
        </div>
        -->
      </main>

      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <ul class="mdl-mini-footer__link-list">
            {{template "footer_left_menu" .}}
          </ul>
        </div>
        <div class="mdl-layout__obfuscator"></div>
        <div class="mdl-mini-footer__right-section">
          <ul class="mdl-mini-footer__link-list">
            {{template "footer_right_menu" .}}
          </ul>
        </div>
      </footer>

<dialog class="mdl-dialog waitDialog">
  <h3 class="mdl-dialog__title">Wait...</h3>
  <div class="mdl-dialog__content">
    <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  </div>
</dialog>

<dialog class="mdl-dialog confirmDialog">
<h4 class="mdl-dialog__title">TITLE</h4>
<div class="mdl-dialog__content">
<p class="confirm_msg">MESSAGE</p>
</div>
<div class="mdl-dialog__actions">
<button type="button" class="mdl-button ok">OK</button>
<button type="button" class="mdl-button cancel">CANCEL</button>
</div>
</dialog>

<div id="TOAST" class="mdl-js-snackbar mdl-snackbar">
   <div class="mdl-snackbar__text"></div>
   <button class="mdl-snackbar__action" type="button"></button>
</div>

    </div>
  </body>
</html>
{{end}}
