{{define "body"}}

<form id="profileForm" action="/admin/profile" method="post">

  <div class="mdl-grid" style="max-width:400px;">
    <div class="mdl-cell mdl-cell--12-col">
{{ if .Key }}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <img id="upload" class="avatar" src="/file/avatar/{{ .Key.StringID }}" width="48" height="48" onerror="this.src='/static/images/somebody.jpg'" style="cursor:pointer;"/>
      </div>
{{ end }}

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="Name" id="name" value="{{.Name}}"/>
        <label class="mdl-textfield__label" for="name">Name...</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="job" name="Job" value="{{.Job}}"/>
        <label class="mdl-textfield__label" for="job">Job...</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="email" name="Email" value="{{.Email}}"/>
        <label class="mdl-textfield__label" for="email">Email...</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="url" name="Url" value="{{.URL}}"/>
        <label class="mdl-textfield__label" for="url">Url...</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="twitterid" name="TwitterId" value="{{.TwitterId}}"/>
        <label class="mdl-textfield__label" for="twitterid">TwitterId...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <button id="save" class="mdl-button mdl-js-button mdl-button--raised"> Save </button>
      </div>

    </div>
  </div>
</form>

<form method="post" action="/admin/profile/upload" enctype="multipart/form-data">
  <input type="file" name="file" id="file" value="" style="display:none;"/>
</form>

<script>
$("#save").click(function() {
    $("#profileForm").submit();
    return false;
});

$("#upload").click(function() {
    $("#file").click();
    return false;
});

$("#file").change(function() {
    $(this).closest("form").submit();
    return false;
});

</script>

{{end}}

{{define "header_menu"}}
{{end}}

{{define "footer_menu"}}
{{end}}
