{{define "body"}}

<div class="mdl-grid">

<div class="mdl-cell mdl-cell--11-col">

    <!-- Wide card with share menu button -->
    <style>
.card-wide.mdl-card {
  float:left;
  width: 420px;
  margin:10px;
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.card-wide > .mdl-card__menu {
  color: #fff;
}

.title {
  font-size : 24px;
  text-shadow:
    0px -1px #aaa,
    1px 0px #555,
    0px 1px #aaa,
    -1px 1px #555;
}

.mdl-layout-spacer {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

    </style>
{{range .}}

<div class="card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background: url('/file/{{.Key.StringID}}') center / cover;">
    <div class="mdl-card__title-text title">{{.Title}}</div>
</div>

<div class="mdl-card__supporting-text" style="max-height:50px;min-height:50px;">
{{.SubTitle}}
</div>

<div class="mdl-card__actions mdl-card--border">

{{.UpdatedAt}}

<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect deleteBtn" data-id="{{.Key.StringID}}">
<i class="material-icons right-section">delete</i>
</button>

</div>


<div class="mdl-card__menu">

<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect editBtn" data-id="{{.Key.StringID}}">
<i class="material-icons">mode_edit</i>
</button>

</div>

</div>
{{end}}


</div>

<div class="mdl-cell mdl-cell--1-col">

<button id="addBtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
<i class="material-icons">add</i>
</button>

<form method="post" action="/admin/article/create" enctype="multipart/form-data" style="display:none;">
<input type="file" name="file" id="file" value="" />
</form>

</div>

</div>

<dialog class="mdl-dialog">
<h4 class="mdl-dialog__title">this article delete?</h4>
<div class="mdl-dialog__content">
<p>
It is not possible to return again.
</p>
</div>
<div class="mdl-dialog__actions">
<button type="button" class="mdl-button delete">DELETE</button>
<button type="button" class="mdl-button close">CLOSE</button>
</div>
</dialog>

<script src="/static/js/jquery.min.js"></script>

<script>


$("#addBtn").click(function() {
    $("#file").click();
    return false;
});

$("button.editBtn").click(function(e) {
    location.href = "/admin/article/edit/" + $(e.currentTarget).data("id");
    return false;
});

$("button.deleteBtn").click(function(e) {
    var dialog = document.querySelector('dialog');
    dialog.showModal();

    dialog.querySelector('.delete').addEventListener('click', function() {
        location.href = "/admin/article/delete/" + $(e.currentTarget).data("id");
    });

    dialog.querySelector('.close').addEventListener('click', function() {
        dialog.close();
    });

    return false;
});

$("#file").change(function() {
    $(this).closest("form").submit();
    return false;
});



</script>

{{end}}

{{define "header_menu"}}

{{end}}

{{define "footer_menu"}}

{{end}}
