{{define "root"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ .Blog.Description }}">
    <meta name="author" content="{{ .Blog.Author }}">
    <meta name="keywords" content="{{ .Blog.Tags }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Blog.Name}}</title>

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-blue.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>

  <body>


    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">

      <main class="mdl-layout__content">

        <div class="demo-blog__posts mdl-grid">

{{ range .HTMLs }}
<div class="mdl-card mdl-cell mdl-cell--12-col">
  <div class="mdl-card__media mdl-color-text--grey-50" style="background-image:url('/file/bg/{{  .Key.StringID  }}');cursor:pointer;">
    <h3><a class="title" href="/entry/{{  .Key.StringID  }}">{{.Title}}</a></h3>
  </div>

  <div class="mdl-color-text--grey-600 mdl-card__supporting-text" style="display:inline;">
     {{.SubTitle}}
  </div>

  <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
    <img class="avatar" src="/file/avatar/{{ .AuthorID }}" width="48" height="48" onerror="this.src='/static/images/somebody.jpg'"/>
    <div>
      <strong>{{ .Author }}</strong>
      <span>{{ convert .CreatedAt }}</span>
    </div>

{{ if .Updater }}
    <div style="flex-grow:1;"></div>

    <div style="text-align:right;margin-right:10px;">
      <strong>{{ .Updater }}</strong>
      <span>{{ convert .UpdatedAt }}</span>
    </div>
    <img class="avatar" src="/file/avatar/{{ .UpdaterID }}" width="48" height="48" onerror="this.src='/static/images/somebody.jpg'"/>
{{ end }}

  </div>

</div>
{{ end  }}

{{template "paging" .}}

        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">

            <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter" onclick="tweet();">
              <span class="visuallyhidden">Twitter</span>
            </button>

            <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger" onclick="facebook();">
              <span class="visuallyhidden">Facebook</span>
            </button>
            <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus" onclick="gplus();">
              <span class="visuallyhidden">Google Plus</span>
            </button>
          </div>

          <div class="mdl-mini-footer--right-section">
          </div>

        </footer>

      </main>

      <div class="mdl-layout__obfuscator"></div>

    </div>

    <a href="javascript:window.scrollTo(0,0);" id="top" class="mdl-button mdl-button--fab mdl-js-button mdl-js-ripple-effect mdl-color--accent mdl-color-text--white"><i class="material-icons">vertical_align_top</i></a>
  </body>

  <script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
      var link = el.querySelector('a');
      if(!link) {
        return;
      }
      var target = link.getAttribute('href');
      if(!target) {
        return;
      }
      el.addEventListener('click', function() {
        location.href = target;
      });
    });

    function tweet() {
        var address = location.href;
        var title = document.title;
        var href = "http://twitter.com/share?count=horizontal&amp;original_referer=" + address + "&amp;text=" + title + "&amp;url=" + address;
        window.open(href,'tweetwindow','width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1');
        return false;
    }

    function facebook() {
        var address = location.href;
        window.open("http://www.facebook.com/share.php?u=" + address,"facebookwindow","idth=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1");
        return false;
    }

    function gplus() {
        var address = location.href;
        window.open("https://plus.google.com/share?url=" + address,"gpluswindow","idth=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1");
        return false;
    }
  </script>
</html>
{{end}}

{{ define "paging" }}
          <nav class="demo-nav mdl-cell mdl-cell--12-col">
{{ if .PFlag }}
            <a href="/?p={{.Prev}}" class="demo-nav__button" title="Newer">
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                 <i class="material-icons">arrow_back</i>
              </button>
            </a>
{{end}}
            <div class="section-spacer"></div>
            <a href="/?p={{.Next}}" class="demo-nav__button" title="Older">
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_forward</i>
              </button>
            </a>
          </nav>
        </div>
{{ end }}
