{{define "body"}}

<form action="/admin/article/save/{{.Article.Key.Name}}" id="slideForm" method="post">

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col" id="left">
      <textarea id="editor" name="editor" style="width:100%;border:1px solid #aaa;" class="mdl-textfield__input">{{ .Markdown }}</textarea>
    </div>

    <div class="mdl-cell mdl-cell--6-col" id="right">

      <iframe id="result" style="z-index:0;"></iframe>

      <a id="deleteBGBtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab" href="/admin/article/bg/delete/{{ .Article.Key.Name }}" style="z-index:2;position:absolute;top:40px;">
         <i class="material-icons" role="presentation" href="/admin/article/bg/delete/{{ .Article.Key.Name }}" >delete</i>
      </a>

      <a id="saveBGBtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab" style="z-index:2;position:absolute;top:40px;right:20px;">
         <i class="material-icons" role="presentation">insert_photo</i>
      </a>

    </div>
  </div>
</form>


<script src="/js/editor.js"></script>

{{end}}

{{define "header_menu"}}

<form id="bgForm" method="post" action="/admin/article/bg/save/{{ .Article.Key.Name }}" enctype="multipart/form-data">
<input type="file" name="file" id="file" value="" style="display:none;"/>
</form>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" name="Title" id="Title" value="{{.Article.Title}}"/>
  <label class="mdl-textfield__label" for="title">Title...</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" id="Tags" name="Tags" value="{{.Article.Tags}}"/>
  <label class="mdl-textfield__label" for="tags">Tags...</label>
</div>

<input type="hidden" id="Name" value="{{.User.Name}}"/>
<input type="hidden" id="Job" value="{{.User.Job}}"/>
<input type="hidden" id="Email" value="{{.User.Email}}"/>
<input type="hidden" id="URL" value="{{.User.URL}}"/>
<input type="hidden" id="TwitterId" value="{{.User.TwitterId}}"/>
<input type="hidden" id="ID" value="{{.Article.Key.Name}}"/>
<input type="hidden" id="BlogName" value="{{.BlogName}}"/>
<input type="hidden" id="AutoSave" value="{{.AutoSave}}"/>
{{end}}

{{define "footer_left_menu"}}
<li>
  <button id="delete"    class="mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect mdl-button--primary">
    <i class="material-icons">delete</i>
  </button>
</li>

<li>
  <button id="private" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--accent">
    <i class="material-icons">cloud_off</i>
  </button>
</li>
{{end}}

{{define "footer_right_menu"}}
<li>
  <button id="viewBtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">screen_share</i>
  </button>
</li>

<li>
  <button id="save"    class="mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect mdl-button--primary">
    <i class="material-icons">save</i>
  </button>
</li>

<li>
  <button id="publish" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--accent">
    <i class="material-icons">publish</i>
  </button>
</li>
{{end}}

